.Login{
    display: flex;
    justify-content: center;
    align-items: center;
}
.LoginBox{
    margin-top: 8rem;
    width: 350px;
    height: 400px;
    background-color: antiquewhite;
}
.LoginHeader{display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: bolder;
}